body {line-height: 1.5;
      font-family: Trebuchet MS, Comic Sans MS, Arial}

div p {display: flex; justify-content: center}

table, th {border-collapse: collapse;
            border: 2px solid;
            background: #f6f6f4;
            padding: 7px;}

table {width: 50%}

dt {font-style: italic;}

.desc {display: flex; font-size: 0.8rem; font-style: italic;}

.table {display:flex;
        justify-content: center;}

.head {display: flex;
       background: #699df2;
       height: 60px;
       color: #ecf3fe;
       justify-content: center;
       align-items: center;
       font-family: Trebuchet MS, Comic Sans MS, Arial;
       font-size: 1.3rem}

#map {width:100%; height: 400px;}

.burger {position: absolute; 
         top: 35px;
         left: 20px;
         width: 30px;
         height: 6px;
         background: white;
         border: none;
         border-radius: 999px;
         padding: 0;
        }

.burger span,
.burger span::before,
.burger span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 6px;
  border-radius: 999px;
  background-color: white;
  
}

.burger span {
  position: relative; 
  
}

.burger span::before {
  content: "";
  top: -10px;           
}

.burger span::after {
  content: "";
  top: 10px;            

}






